{% extends "base.html" %}

{% block title %}Data sources{% endblock %}

{% block content %}
<h1>Data sources</h1>

<p><a href="https://taskmaster.info/">TaskMaster.Info</a> was an invaluable resource in putting together this database. From things like task tags and summaries to measurement data for objective tasks, I have borrowed egregiously from the fine work of Karl and TMI's contributors.

<p>@TimoBorg13's <a href="https://twitter.com/TimoBorg13/status/1654353563689123840">presentation orders</a> turned out to be wonderfully accurate, for which I'm grateful.</p>

<p>/u/Gurgelglup's <a href="https://www.reddit.com/comments/12sb3i5/">locations map</a> (linked from the <a href="taskmaster/special_locations"><code>special_locations</code></a> table) is a marvel of commitment.

<p>A complete rewatch was undertaken by yours truly for verification purposes, as well as to collect bits of novel esoterica such as task brief locations and readers.</p>
{% endblock %}
